@charset "UTF-8";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  background-color: #f5f5f5;
  color: #000000;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
}

.validation {
  margin-top: 44px;

  &__container {
    background-color: #ffffff;
    width: 408px;
    height: 422px;
    margin: 0 auto;
  }

  &__box {
    padding: 40px 0 0 34px;
  }

  &__list {
    position: relative;

    span {
      font-weight: bold;
      position: absolute;
      margin-top: 1px;
    }
  }

  &__text {
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 4px;
    width: 344px;
    height: 38px;
    margin: 8px 0 26px 0;
    padding-left: 12px;
  }

  &__text::placeholder {
    color: #dddddd;
  }

  &__label {
    background-color: #ff6f7d;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    margin-right: 8px;
    line-height: 17px;
    text-align: center;
    width: 40px;
    height: 19px;
  }

  &__button {
    margin-top: 20px;
  }

  &__registration {
    background-color: #8a8b8c;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    opacity: 0.7;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    width: 182px;
    height: 37px;
    line-height: 30px;
  }
}
