@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  background-color: #f5f5f5;
  color: #000000;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
  }
}

.validation {
  margin-top: 44px;

  &__container {
    background-color: #ffffff;
    width: 408px;
    height: auto;
    margin: 0 auto;
  }

  &__box {
    padding: 40px 0 0 34px;
  }

  &__list {
    position: relative;
    margin-bottom: 36px;

    span {
      color: #000000;
      font-weight: bold;
      position: absolute;
      margin-top: 1px;
    }
  }

  &__text {
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 4px;
    width: 344px;
    height: 38px;
    margin-top: 8px;
    padding-left: 12px;
  }

  &__alert {
    border: 1px solid red;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #ffefef;
    width: 344px;
    height: 38px;
    margin-top: 8px;
    padding-left: 12px;
  }

  &__text::placeholder {
    color: #dddddd;
  }

  &__label {
    background-color: #ff6f7d;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    margin-right: 8px;
    line-height: 17px;
    text-align: center;
    width: 40px;
    height: 19px;
  }

  &__notice {
    color: #ff6f7d;
    font-size: 10px;
    margin-top: 2px;
    visibility: hidden;

    &.show__notice {
      visibility: visible;
    }
  }

  &__button {
    padding-bottom: 57px;
  }

  &__input {
    color: #ffffff;
    font-weight: bold;
  }
}

.js {
  &-registration {
    background-color: #8a8b8c;
    border-radius: 4px;
    display: block;
    opacity: 0.4;
    pointer-events: none;
    margin: 0 auto;
    text-align: center;
    width: 182px;
    height: 37px;
    line-height: 35px;

    &.button__allow {
      cursor: pointer;
      opacity: 1;
      pointer-events: auto;
    }
  }
}
